{
	"singleQuote": true,
	"trailingComma": "all",
	"printWidth": 100,
	"semi": true,
	"useTabs": true,
	"bracketSpacing": true,
	"plugins": ["prettier-plugin-tailwindcss"],
	"tailwindConfig": "./tailwind.config.mjs",
	"tailwindFunctions": ["clsx"]
}
